h2,
.h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
.prices-section, .hours-section, .rental-section {
    .col-md-4, .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

.item {
    background-size: cover;
    height: 400px;
}

.first {
    background-image: url(../images/girl-air.jpg);
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
}

.second {
    background-image: url(../images/teen-rider.jpg);
    background-position: 50%;
}

// .third {
//     background-image: url(../images/sesitec.jpg);
//     background-position: 40% 0px;
//     background-size: cover;
// }

.fourth {
    background-image: url(../images/philip.jpg);
    background-position: 80% 0px;
    background-size: cover;
}

ul {
    padding-left: 0;
    margin-right: 0;
}

li {
    list-style-type: none;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}