$quest-yellow:#faba56;
$section-black:#373235;
$section-lightblue:#5eadcb;
$section-teal:#3fa6ad;
$section-darkblue:#334d69;
$section-darkgrey:#4c4c4c;
$section-green:#96d59e;
$bar-blue:#1e2e41;
$li-darkgrey:#9fa9b2;
$li-lightgrey:#ebebeb;