.info-hero {
   background:url(../images/two-rail.jpg);
   background-repeat:no-repeat;
    background-position: 50% -40px;
    background-size:cover;

  
}

.info-section {
    margin-top: -80px;
    background: white;
   
    h2 {
        margin-bottom: 30px;
        font-size:60px;
    

     
    }
    p, h2, h3 {
        color: black;
    }
    h3 {
        margin-top: 30px;
    }
    .history-section {
        margin-top: 80px;
    }
}

.cable-section {
    background: $section-teal;
    margin-bottom:80px;
    h2 {
        margin-bottom: 30px;
          font-size:60px;

    }
    .top-img {
        &:first-of-type {
            p {
                margin-bottom: 120px;
            }
        }
    }
}

.input-section{
    h2{
        color:black;
        margin-bottom:15px;
        font-size:60px;
    }
}



input {
    font-size: 21px;
    font-weight: bold;
    display: block;
    margin: 20px auto;
    outline: 0;
    border: 0;
    border:1px solid lightgrey;
    padding: 10px 10px;
    font-size: 13px;
    width: 100%;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.button:hover {
    border-top-color: #ffffff;
    background: #ffffff;
    color: #a7b828;
    text-shadow: none;
    cursor: pointer;
}

.button:active {
    border-top-color: #ffffff;
    background: #ffffff;
}