.lessons-hero {
    background: url(../images/sesitec.jpg);
    background-size: cover;
    // background-position: 40% -380px;
       background-position: 40% 0px;
}

nav{
.logo-fix{
    margin-left:35px;
}
}

.lessons-info-section {
    margin-top: -50px;
    background: white;
    color: black;
    h2 {
        margin-bottom: 50px;
    }
    p, h2, h3 {
        color: black;
    }
 
    .history-section {
        margin-top: 80px;
    }
}

.lessons-price-section {

    margin-top: 0px;
    background: #334d69;
    border: 1px solid #334d69;
    h2 {
        margin-bottom: 110px;
    }
    li{
        &:first-of-type{
            padding-top:20px;
        }
    }
}

.lessons-price-container {
    margin-top:140px;

    li{
        margin-top:0;
    }

    &:last-child {
        margin-bottom: 0;
    }
    li {
        &:first-of-type {
            background: #9fa9b2;

        }
    }
    .prices-bar {
        background: #1e2e41;
        height: 30px;
    }
    .prices-circle {
        margin: 0 auto;
        position: relative;
        bottom: 60px;
        width: 80px;
        height: 80px;
        background-color: #faba56;
        background-image: url("../images/ticket2.png");
        background-repeat: no-repeat;
        background-position: 16px 16px;
        border-radius: 40px;
    }
    li {
        text-align: center;
        background: #ebebeb;
        margin-bottom: 4px;
    }
}