@media (min-width: 480px) {
    .prices-section, .location-section, .programs-section {
        margin-top: -90px;
    }
    .section-img {
        margin-top: -20px;
        min-height: 500px;
    }
  
    .embed-container {
        min-height: 300px;
    }
    h2 {
        font-size: 80px;
    }
}

@media screen and (min-width: 768px) {
    .section-img {
        margin-top: -30px;
        min-height: 600px;
    }
    nav {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .main-contain {
        width: 97.5%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    // .prices-section, .location-section, .programs-section {
    //     margin-top: -190px;
     
    // }
    .section-img {
        margin-top: -30px;
    }
    .container {
        max-width: 80%;
    }
    .btn {
        width: 50%;
    }
    .navbar-collapse {
        li {
            box-shadow: none;
        }
    }
    .logo {
        display: inline-block;
        h1 {
            font-size: 115px;
            margin-top: 35px;
        }
    }
    .item {
        background-size: cover;
        height: 825px;
    }
    .first {
        background-image: url(../images/girl-air.jpg);
        background-position: 50% 0;
    }
    .second {
        background-image: url(../images/philip.jpg);
        background-position: 50% 0;
    }
    .lefty {
        padding-right: 40px;
    }
    .righty {
        padding-left: 40px;
    }
    .read-btn {
        margin-bottom: 0;
    }
    .wavier-section {
        .wavier-btn {
            width: 30%;
            margin: 30px auto;
        }
    }
    li {
        box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
    }
    .prices-container, .rental-prices, .hours-prices {
        margin-right: .45%;
        width: 33%;
        &:last-of-type {
            margin-right: 0%;
        }
    }
    .prices-section {
        .prices-container {
            margin-bottom: 0;
        }
        .location-section {
            margin-top: -200px;
        }
        .member-btn {
            margin: 30px auto;
            width: 33%;
        }
    }
    .embed-container {
        min-height: 400px;
    }
    .rental-bar, .hours-bar {
        display: none;
    }
    .rental-bar-large {
        height: 30px;
        background: #1e2e41;
        .none {
            display: block;
            margin-bottom: 0;
        }
    }
    .location-section {
        h3 {
            margin-top: 50px;
        }
    }
    .hours-section {
        .hours-bar-large {
            height: 30px;
            background: #1e2e41;
            .none {
                display: block;
            }
        }
    }
    .programs-section {
        h3 {
            margin-top: 0;
        }
    }
    .program-marg-large {
        margin-bottom: 160px;
    }
    .events-section {
        li {
            box-shadow: none;
        }
    }
    .calender-btn {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .prices-container, .rental-prices {
        margin-right: .45%;
        width: 33%;
        &:last-of-type {
            margin-right: 0%;
        }
    }
    .prices-section, .location-section, .programs-section {
        margin-top: -190px;
       
    }
    .section-img {
        margin-top: -40px;
        min-height:700px;
    }
}



@media screen and (min-width: 1800px) {
    //   .prices-section, .location-section, .programs-section {
    //     margin-top: -190px;
    //     background:gold;
       
    // }
    }