@media (min-width: 480px) {
    p {
        font-size: 18px;
    }
    .embed-container {
        min-height: 300px;
    }
    .section-img{
        margin-top:-50px;
    }
    .prices-section{
        margin-top:-120px;
    }
}

@media screen and (min-width: 768px) {

     .prices-section{
        margin-top:-180px;
    }

}

@media screen and (min-width: 992px) {
   
    .container {
    max-width: 80%;
    
}

       .prices-container,.rental-prices {
        margin-right: .45%;
        width: 33%;
        &:last-of-type {
            margin-right: 0%;
        }

    }


      .prices-section{
        margin-top:-200px;
    

    .prices-container {
    margin-bottom:0;
}

 

    
.member-btn{
   margin:30px auto;
}

}
    h2 {
        font-size: 80px;
    }
    .program-marg-large {
        margin-bottom: 160px;
    }
    .lefty {
        padding-right: 40px;
    }
    .righty {
        padding-left: 40px;
    }
    
    .embed-container {
        min-height: 400px;
    }
    .btn{
        width:50%;
    }
    .calender-btn{
        width:70%;
    }
    .programs-section {
        h3{
            margin-top:0;
        }
}
}

@media screen and (min-width: 1200px) {
    .prices-container,.rental-prices {
        margin-right: .45%;
        width: 33%;
        &:last-of-type {
            margin-right: 0%;
        }

    }
       .prices-section,.location-section{
        margin-top:-380px;
    }
    
}