// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

@import url(http://fonts.googleapis.com/css?family=Pacifico);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import "bootchange";

@import "typography";

/* Main Styling
===================================*/


.container {
    max-width: 90%;

}
#navbar{
    li{
        a{
            color:white;
        }
    }
}
p{
    font-size:17px;
}
.main-contain {
    width: 93%;
    margin: 0 auto;
}

li {
    &:last-of-type {
        box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
    }
}

.clear {
    clear: both;
}

.skew {
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    padding: 2px;
    /* IE8+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0.28674538575880865, M21=0, M22=1, SizingMethod='auto expand')";
    /* IE6 and 7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0.28674538575880865, M21=0, M22=1, SizingMethod='auto expand');
}

.skew-fix {
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    padding: 2px;
    /* IE8+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0.28674538575880865, M21=0, M22=1, SizingMethod='auto expand')";
    /* IE6 and 7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0.28674538575880865, M21=0, M22=1, SizingMethod='auto expand');
}

.btn {
    margin-top: 30px;
    background: #96d59e;
    font-weight: 800;
    font-size: 22px;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 0.3em;
    color: black;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: #69956F;
    color: white;
    text-decoration: none;
}

.small-ul {
    font-size: 20px;
    display: inline-block;
    padding-top: 12px;
}

.big-ul {
    font-size: 40px;
    margin-top: -55px;
    display: inline-block;
    margin-top: -5px;
}


/* Helpers for top position on internal page links
====================================================*/

.all-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

/* Carousel Styling
===================================*/
.carousel-control.left, .carousel-control.right {
    background: none;
}

/* Nav / Navbar Styles
===================================*/
.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar {
    // background:rgba(235,235,235,0.5);
    background: none;
    border-bottom: none;
    padding: 10px 0 10px 0;
    transition-duration: 0.6s;
    z-index: 1;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: 800;
}

.navbar-default .navbar-nav > li {
    margin-right: 8px;
}

.navbar-default .navbar-nav > li:last-of-type {
    margin-right: 0;
    box-shadow: none;
}

.dropdown-menu,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: #faba56;
       
}

.dropdown-menu {
    padding: 48px;
    box-shadow: none;
    border: none;
}

// .dropdown-menu li a {
//     padding: 4px 8px;
//     border-radius: 6px;
//     color:red;
// }

.nav-dropdown-scroll {
    background: #e7eaea;

    // box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {


}

.logo {
    display: inline-block;
    h1 {
        font-size: 45px;
        font-family: 'Pacifico', cursive;
        display: inline-block;
        margin-top: 10px;
        transform: rotate(-10deg);
        color: #faba56;
        text-shadow: 2px 2px rgba(0,0,0,0.5);
    }
    p {
        text-align: right;
        margin-top: -10px;
        color: white;
        font-weight: 800;
        transform: rotate(-10deg);
        font-size: 30px;
        text-shadow: 2px 2px rgba(0,0,0,0.5);
    }
}

/* Nav / Navbar Styles end
===================================*/

/* Section Images
===================================*/
.prices-section,.location-section,.programs-section  {
    margin-top: -70px;
}

.section-img {
    margin-top: -10px;
    min-height: 300px;

}


.park-img {
    background: url(../images/park.jpg);
    background-size: cover;
    background-position: 55%;

}

.store-img{
    background: url(../images/inside.jpg);
    background-size: cover;
    background-position:  35% -60px;
}

.outside-img{
      background: url(../images/mountains.jpg);
       background-size: cover;
       background-position: 55%;

}




/* About us section
===================================*/

.img-fix {
    width: 100%;
    outline: 1px solid transparent;
}

.about-section {
    background-color: #373235;
    margin-top: -50px;
    h2 {
        padding-bottom: 30px;
    }
}

.read-btn {
    margin-bottom: 120px;
}

/* About us section ends
===================================*/

.wavier-section {
    background: #5eadcb;
    h2{
        margin-bottom:30px;
    }
    p {
        text-align: center;
    }
    .wavier-btn {
        width: 90%;
        margin: 30px auto;
    }
}

/* Prices section 
===================================*/

.prices-section {
    background: #334d69;
    border: 1px solid #334d69;
    h2 {
        padding-bottom: 90px;
    }
}

.prices-container {
    margin-bottom: 180px;
    &:last-child {
        margin-bottom: 0;
    }
    li {
        &:first-of-type {
            background: #9fa9b2;
        }
    }
    .prices-bar {
        background: #1e2e41;
        height: 30px;
    }
    .prices-circle {
        margin: 0 auto;
        position: relative;
        bottom: 60px;
        width: 80px;
        height: 80px;
        background-color: #faba56;
        background-image: url("../images/ticket2.png");
        background-repeat: no-repeat;
        background-position: 16px 16px;
        border-radius: 40px;
    }
    li {
        text-align: center;
        background: #ebebeb;
        margin-bottom: 4px;
    }
}

/* rentals section
===================================*/

.rental-section {
    background: #3fa6ad;
    border: 1px solid #3fa6ad;
    h2 {
        text-align: center;
        padding-bottom: 90px;
    }
}

.rental-bar {
    background: #1e2e41;
    height: 30px;
    display: block;
}

.rental-bar-large {
    .none {
        display: none;
    }
}

.rental-circle {
    width: 80px;
    height: 80px;
    background: #faba56;
    border-radius: 50px;
    position: relative;
    bottom: 60px;
    margin: 0 auto;
    background-image: url("../images/helmet.png");
    background-repeat: no-repeat;
    background-position: 16px 16px;
}

.rental-prices {
    background: #F1F1F1;
    text-align: center;
    margin-bottom: 4px;
}

/* Inside Image
===================================*
*/


/* Location Section
===================================*
*/
.embed-container {
    position: relative;
    min-height: 200px;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.map-contain {
    width: 100%;
}

.directions-marg {
    margin-bottom: 100px;
}

.location-section {
    background: #4c4c4c;
    
    h2 {
        padding-bottom: 30px;
    }
    a {
        color: white;
        font-size: 20px;
        text-align: center;
        display: block;
        &:last-of-type {
            margin-bottom: 40px;
            text-decoration: underline;
        }
    }
}

/* Hours Section
===================================*
*/
.hours-section {
    background: #96d59e;
    h2 {
        text-align: center;
        padding-bottom: 80px;
    }
    .hours-bar {
        background: #1e2e41;
        height: 30px;
    }
    .hours-bar-large {
        .none {
            display: none;
        }
    }
    .hours-circle {
        width: 80px;
        height: 80px;
        background: #faba56;
        border-radius: 50px;
        position: relative;
        bottom: 60px;
        margin: 0 auto;
        background-image: url("../images/clock.png");
        background-repeat: no-repeat;
        background-position: 16px 16px;
        .none {
            display: none;
        }
    }
    .hours-prices {
        background: #F1F1F1;
        text-align: center;
        margin-bottom: 4px;
    }
}

// /* Programs Section
// ===================================*/
.programs-section {

    background: #373235;
    h2 {
        margin-bottom: 50px;
    }
    // h3{
    //     margin-top:0px;
    // }
    .program-marg {
        margin-bottom: 160px;
    }
}

// /* Events Section
// ===================================*/

.events-section {
    background: #3fa6ad;
    h2 {
        margin-bottom: 30px;
    }
    li {
        color: white;
        list-style-type: circle;
        font-weight: 300;
        &:last-of-type {
            box-shadow: none;
        }
    }
    .calender-btn {
        min-width: 60%;
    }
}

/* Footer Styles
===================================*/
footer {
    height: 500px;
    width: 100%;
    background: #283332;
    .footer-section {}
    .twitter-icon {
        background: url(../images/twitter.png);
        min-height: 30px;
    }
}

// /* To Top Button Styles
// ===================================*/
.top {
    display: none;
    background-color: #faba56;
    bottom: 2em;
    color: #FFF;
    opacity: 0.9;
    padding: 1.2em;
    position: fixed;
    right: 1.5em;
    text-decoration: none;
    transition-duration: 1s;
}

.top:hover {
    opacity: 1;
    transition: 1s;
    text-decoration: none;
    color: #fff;
}

/* jQuery Styles
===================================*/
.navbar-scroll {
    background: white;
    padding: 20px 0 10px 0;
    // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition-duration: 0.9s;
#navbar{
    li{
        a{
            color:black;
        }
    }
}

    .logo {
        h1 {
            font-size: 33px;
            margin-top: 0;
            margin-bottom: 0;
            text-shadow:none;
        }
        p {
            margin-top: -5px;
            margin-bottom: 0;
            font-size: 14px;
            color:black;
             text-shadow:none;
        }



    }

}

@import "firsttime";
@import "info";
@import "mediaqueries";